{% extends 'base.html' %}

{% block Title %} {{category.name}} {% endblock %}

{% block content %}
<div class="row justify-content-center">
    {% for i in products %} {% load static %}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
        <div class="card shadow" >
            <img class="card-img-top" src="{% static i.icon_url %}" alt=" [{{ i.name }}]">
            <div class="card-body">
                <h5 class="card-title">{{ i.name }}</h5>
                <p class="card-text">
                {% if i.unit_system == 'kg' %} {{ i.price_per_kg }} tk/kg
                {% elif i.unit_system == 'item' %} {{ i.price_per_item }} tk/item
                {% elif i.unit_system == 'both' %} {{ i.price_per_kg }} tk/kg and {{ i.price_per_item }} tk/item {% endif %}
                </p>
                <a class="btn btn-primary" href="{% url 'product_details_view' product_id=i.id %}">Details</a>
            </div>
        </div>
        <br />
    </div>
    {% endfor %}
</div>

{% endblock %}
